.table {
	font-size: small;
}

.colored {
	background-color: red;
}

.half {
	height:20px;
}

td {
	height:40px;
	border:1px solid #ddd;
}

th {
	padding:0;
	border:1px solid #ddd;
}

.table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	padding:0;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	text-align: center;
	padding:0;
}

.panel {
	margin:10px;
}

table {
	/*margin:10px;*/
}