#main {
	margin: 20px;
}

#accordion {
	margin: 10px;
}

#submit {
	margin-top: 10px;
}

#room-list {
	margin: 10px;
}

/*.room-row {
	height: 50px;
}*/

.room-row-labels {
	font-weight: bold;
}

.room-row-content {
	font-weight: normal;
}