#main {
	margin: 20px;
}

#accordion {
	margin: 10px;
}

#submit {
	margin-top: 10px;
}

#room-list {
	margin: 10px;
}

/*.room-row {
	height: 50px;
}*/

.room-row-labels {
	font-weight: bold;
}

.room-row-content {
	font-weight: normal;
}

.navbar-default {
	background-color: #428bca;
}


/*input[type=checkbox]
{
 -ms-transform: scale(2); 
 -moz-transform: scale(2); 
 -webkit-transform: scale(2,2); 
 -o-transform: scale(2); 
 padding: 10px;
}*/

 /* Double-sized Checkboxes */
 /* IE */
 /* FF */
/* Safari and Chrome */
/* Opera */


/*.mycheckbox {
	padding: 3px;
	margin-left: 30px;
}

.myequi {
	padding-left: 10px;
	font-size: 15px;
}*/
